In [54]:
import pandas as pd
import numpy as np
import os
import urllib.request

# Main source for the training data
DATA_URL = 'https://raw.githubusercontent.com/OxCGRT/covid-policy-tracker/master/data/OxCGRT_latest.csv'
# Local file
DATA_FILE = 'data/OxCGRT_latest.csv'

# if not os.path.exists('data'):
#   os.mkdir('data')
# urllib.request.urlretrieve(DATA_URL, DATA_FILE)

In [99]:
# Load historical data from local file
df = pd.read_csv(DATA_FILE, 
                 parse_dates=['Date'],
                 encoding='ISO-8859-1',
                 dtype={'RegionName': str,
                        'RegionCode': str},
                 error_bad_lines=False)

# From https://ourworldindata.org/coronavirus-testing
data = pd.read_excel('2020-12-10_owid-tests-data.xlsx')
data.rename(columns={'location' : 'CountryName',
                     'human_development_index' : 'HDI',
                     'date' : 'Date'},
            inplace=True)

data.CountryName.replace(to_replace={'Timor' : 'Timor-Leste',
                                     'Kyrgyzstan' : 'Kyrgyz Republic',
                                     'Slovakia' : 'Slovak Republic'},
                         inplace=True)

In [100]:
latest_country = df.CountryName.unique()
add_country = data.CountryName.unique()

In [101]:
common, idx1, idx2 = np.intersect1d(latest_country, add_country, return_indices=True)

all_idx_latest = range(len(latest_country))
all_idx_data   = range(len(add_country))

only_from_data = []
only_from_df = []

for i in all_idx_latest:
  if i not in idx1:
    only_from_df.append(i)

for i in all_idx_data:
  if i not in idx2:
    only_from_data.append(i)

print(add_country[only_from_data])
print(latest_country[only_from_df])

['Antigua and Barbuda' 'Armenia' 'Czechia' 'Equatorial Guinea' 'Grenada'
 'Guinea-Bissau' 'International' 'Liechtenstein' 'Maldives' 'Malta'
 'Marshall Islands' 'Montenegro' 'North Macedonia' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Vincent and the Grenadines' 'Samoa'
 'Sao Tome and Principe' 'Vatican' 'World']
['Aruba' 'Bermuda' 'Czech Republic' 'Faeroe Islands' 'Greenland' 'Guam'
 'Macao' 'Puerto Rico' 'Turkmenistan' 'United States Virgin Islands']

In [112]:
df_HDI = data[['CountryName', 'Date', 'HDI']]
df_HDI.Date = pd.to_datetime(df_HDI.Date)
df_HDI.to_csv('country_HDI.csv', index=False)

/home/mattia/.local/lib/python3.8/site-packages/pandas-1.1.2-py3.8-linux-x86_64.egg/pandas/core/generic.py:5165: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [103]:
df_HDI = df.merge(df_HDI, how='left', left_on=['CountryName','Date'], right_on=['CountryName','Date'])

In [111]:
df_HDI[['CountryName', 'HDI']]

      CountryName    HDI
0           Aruba    NaN
1           Aruba    NaN
2           Aruba    NaN
3           Aruba    NaN
4           Aruba    NaN
...           ...    ...
91420    Zimbabwe  0.535
91421    Zimbabwe  0.535
91422    Zimbabwe  0.535
91423    Zimbabwe  0.535
91424    Zimbabwe    NaN

[91425 rows x 2 columns]